<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/assets/css/main.6da5d826.css">
    </head>
    <body>
        <div class="l-site">
            <div class="l-header">
                <div class="header">
                    <a class="header__logo ligature-icons" href="/">working</a>
                </div>
            </div>
            <div class="l-content">{{ content }}</div>
            <div class="l-footer"></div>
        </div>
    </body>
</html>
